<?= $this->doctype() ?>
<html lang="de">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <?= $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0, shrink-to-fit=no')
            ->appendName('author', 'Henrik Thesing')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>
        <?= $this->headLink()
            ->prependStylesheet($this->basePath('css/all.css'))
            ->prependStylesheet($this->basePath('css/bootstrap.css'))
            ->prependStylesheet($this->basePath('css/jquery.timepicker.min.css'))
            ->prependStylesheet($this->basePath('css/ese.css'));
        ?>

        <?php $this->headScript()
            ->prependFile($this->basePath('js/tinymce/jquery.tinymce.min.js'))
            ->prependFile($this->basePath('js/tinymce/tinymce.min.js'))
            ->prependFile($this->basePath('js/jquery.timepicker.min.js'))
            ->prependFile($this->basePath('js/bootstrap.bundle.js'))
            ->prependFile($this->basePath('js/jquery.js'));
        ?>

        <?= $this->headTitle('Einrichtungssuche - Administration')->setSeparator(' - ')->setAutoEscape(false) ?>
    </head>
<body>
    <?= $this->headScript() ?>
    <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
        <a class="navbar-brand mr-0 mr-md-2" href="<?= $this->url('administration', [], [], true); ?>" aria-label="Bahnhofsmission"><img height="50" src="<?= $this->basePath('img/logo.png'); ?>" /></a>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="clientSelection" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <?= $this->selectedClient->getName(); ?>
            </button>
            <?php if (count($this->clientList) > 0) { ?>
                <div class="dropdown-menu" aria-labelledby="clientSelection">
                    <?php foreach ($this->clientList as $clientListItem) { ?>
                        <a href="<?= $this->url('administration', ['clientId' => $clientListItem->getId()]); ?>" class="btn dropdown-item" type="button"><?= $clientListItem->getName(); ?></a>
                    <?php } ?>
                </div>
            <?php } ?>
        </div>
        <div class="navbar-nav ml-md-auto">
            <a class="btn btn-primary" href="<?= $this->url('search'); ?>">Webseite</a>&nbsp;
            <div class="dropdown show">
                <a class="btn btn-info dropdown-toggle" href="#" role="button" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="fa fa-user" aria-hidden="true"></span> <?= $this->identity->getEmail(); ?>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                    <a class="dropdown-item" href="<?= $this->url('administration/identity', [], [], true); ?>">Passwort ändern</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="<?= $this->url('authentication/logout'); ?>">Abmelden</a>
                </div>
            </div>
        </div>

    </header>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky" style="padding-top: 50px;">
                    <ul class="nav flex-column">
                        <?php if ($this->identity->getRole()->getId() === \Storage\Entity\UserRole::ROLE_ADMINISTRATOR) { ?>
                        <li class="nav-item">
                            <a class="nav-link" href="<?= $this->url('administration/clients', [], null, true); ?>"><i class="fa fa-globe" style="font-size: 1.4em;"></i> Standorte</a>
                        </li>
                        <?php } ?>
                        <li class="nav-item">
                            <a class="nav-link" href="<?= $this->url('administration', [], null, true); ?>"><i class="fa fa-home" style="font-size: 1.4em;"></i> Einrichtungen</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="<?= $this->url('administration/taggroups', [], null, true); ?>"><i class="fa fa-filter" style="font-size: 1.4em;"></i> Filtergruppen</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <?= $this->content; ?>

        </div>
    </div>
</body>
</html>
