<?php
    /** @var Facility $facility */
    use Storage\Entity\Facility;
?>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
        <h1 class="h2">Ansprechpartnerinnen</h1>
        <div class="float-right">
            <a class="btn btn-primary" href="<?= $this->url('administration/facilities/contacts/add', ['facilityId' => $facility->getId()], [], true); ?>"><i class="fa fa-plus-circle"></i> Ansprechpartnerin anlegen</a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-lg table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Position</th>
                <th>Telefon</th>
                <th>Mobil</th>
                <th>Fax</th>
                <th>E-Mail</th>
                <th class="text-right">Optionen</th>
            </tr>
            </thead>
            <tbody>
            <?php if (count($facility->getContacts()) > 0): ?>
                <?php foreach ($facility->getContacts() as $contact) { ?>
                    <tr>
                        <td><?= $contact->getId(); ?></td>
                        <td><?= $contact->getFirstname(); ?> <?= $contact->getLastname(); ?></td>
                        <td><?= $contact->getPosition(); ?></td>
                        <td><?= $contact->getPhonenumber() ?: '-'; ?></td>
                        <td><?= $contact->getMobilenumber() ?: '-'; ?></td>
                        <td><?= $contact->getFaxnumber() ?: '-'; ?></td>
                        <td><?= $contact->getEmail() ?: '-'; ?></td>
                        <td class="text-right">
                            <a href="<?= $this->url('administration/facilities/contacts/edit', ['contactId' => $contact->getId()], [], true); ?>" class="btn btn-info"><i class="fa fa-edit"></i></a>
                            <a onclick="return confirm('Ansprechpartner wirklich löschen?');" href="<?= $this->url('administration/facilities/contacts/delete', ['contactId' => $contact->getId()], [], true); ?>" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                <?php } ?>
            <?php else: ?>
                <tr>
                    <td colspan="8" class="text-center">Keine Ansprechpartnerinnen gefunden. Du kannst jetzt eine neue <a href="<?= $this->url('administration/facilities/contacts/add', [], null, true); ?>"> Ansprechpartnerin anlegen</a>.</td>
                </tr>
            <?php endif; ?>
            </tbody>
        </table>
    </div>
</main>