<?php
    /** @var Contact $contact */
    /** @var Facility $facility */
    use Storage\Entity\Contact;
    use Storage\Entity\Facility;
?>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
        <h1 class="h2">Ansprechpartnerin bearbeiten</h1>
    </div>

    <form method="post" action="" enctype="multipart/form-data">
        <div class="form-group row">
            <label for="inputFirstname" class="col-sm-2 col-form-label">Vorname*</label>
            <div class="col-sm-10">
                <input type="text" required="required" name="data[firstname]" value="<?= $contact->getFirstname(); ?>" class="form-control" id="inputFirstname" placeholder="Vorname">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputLastname" class="col-sm-2 col-form-label">Nachname*</label>
            <div class="col-sm-10">
                <input type="text" required="required" name="data[lastname]" value="<?= $contact->getLastname(); ?>" class="form-control" id="inputLastname" placeholder="Nachname">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPosition" class="col-sm-2 col-form-label">Position*</label>
            <div class="col-sm-10">
                <input type="text" required="required" name="data[position]" value="<?= $contact->getPosition(); ?>" class="form-control" id="inputPosition" placeholder="Position">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPhone" class="col-2 col-form-label">Telefon / Mobil / Fax</label>
            <div class="col-4">
                <input type="text" name="data[phone]" value="<?= $contact->getPhoneNumber(); ?>" class="form-control" id="inputPhone" placeholder="Telefonnummer">
            </div>
            <div class="col-4">
                <input type="text" name="data[mobile]" value="<?= $contact->getMobilenumber(); ?>" class="form-control" id="inputMobile" placeholder="Mobilfunknummer">
            </div>
            <div class="col-2">
                <input type="text" name="data[fax]" value="<?= $contact->getFaxnumber(); ?>" class="form-control" id="inputFax" placeholder="Faxnummer">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputEmail" class="col-sm-2 col-form-label">E-Mail</label>
            <div class="col-sm-10">
                <input type="text" name="data[email]" value="<?= $contact->getEmail(); ?>" class="form-control" id="inputEmail" placeholder="E-Mail-Adresse">
            </div>
        </div>
        <div>
            <input type="submit" value="Änderungen speichern" class="btn btn-primary" />
            <a href="<?= $this->url('administration/facilities/contacts', [], [], true); ?>" class="btn btn-outline-danger">Abbrechen</a>
        </div>
    </form>
</main>