<?php
    /** @var TagGroup $tagGroup */
    use Storage\Entity\TagGroup;
?>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
        <h1 class="h2">Filtergruppe bearbeiten</h1>
    </div>

    <form method="post" action="" enctype="multipart/form-data">
        <div class="form-group row">
            <label for="inputName" class="col-sm-2 col-form-label">Name der Filtergruppe*</label>
            <div class="col-sm-10">
                <input type="text" required="required" name="data[name]" value="<?= $tagGroup->getName(); ?>" class="form-control" id="inputName" placeholder="Name der Filtergruppe">
            </div>
        </div>
        <div>
            <input type="submit" value="Änderungen speichern" class="btn btn-primary" />
            <a href="<?= $this->url('administration/taggroups', ['tagGroupId' => $tagGroup->getId()], [], true); ?>" class="btn btn-outline-danger">Abbrechen</a>
        </div>
    </form>
</main>