<?php
    /** @var TagGroup $tagGroup */
    use Storage\Entity\TagGroup;
?>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
        <h1 class="h2">Filteroptionen in der Filtergruppe <?= $tagGroup->getName(); ?></h1>
        <div class="float-right">
            <a class="btn btn-primary" href="<?= $this->url('administration/taggroups/tags/add', ['tagGroupId' => $tagGroup->getId()], [], true); ?>"><i class="fa fa-plus-circle"></i> Filteroption anlegen</a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-lg table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Filtergruppe</th>
                <th class="text-right">Optionen</th>
            </tr>
            </thead>
            <tbody>
            <?php if (count($tagGroup->getTags()) > 0): ?>
                <?php foreach ($tagGroup->getTags() as $tag) { ?>
                    <tr>
                        <td><?= $tag->getId(); ?></td>
                        <td><?= $tag->getName(); ?></td>
                        <td><?= $tag->getTagGroup()->getName(); ?></td>
                        <td class="text-right">
                            <a href="<?= $this->url('administration/taggroups/tags/edit', ['tagGroupId' => $tagGroup->getId(), 'tagId' => $tag->getId()], [], true); ?>" class="btn btn-info"><i class="fa fa-edit"></i></a>
                            <a onclick="return confirm('Filteroption wirklich löschen? Alle Verknüpfungen zu Filtergruppen und Einrichtungen werden entfernt!');" href="<?= $this->url('administration/taggroups/tags/delete', ['tagGroupId' => $tagGroup->getId(), 'tagId' => $tag->getId()], [], true); ?>" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                <?php } ?>
            <?php else: ?>
                <tr>
                    <td colspan="4" class="text-center">
                        Keine Filteroptionen in der Gruppe "<?= $tagGroup->getName(); ?>" gefunden. Du kannst jetzt eine neue <a href="<?= $this->url('administration/taggroups/tags/add', ['tagGroupId' => $tagGroup->getId()], [], true); ?>">Filteroption anlegen</a>.
                    </td>
                </tr>
            <?php endif; ?>
            </tbody>
        </table>
    </div>
</main>