<?php
    /** @var TagGroup $tagGroup */
    use Storage\Entity\Tag;
    use Storage\Entity\TagGroup;
?>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
        <h1 class="h2">Neue Filteroption in der Filtergruppe anlegen</h1>
    </div>

    <form method="post" action="" enctype="multipart/form-data">
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Name der Filteroption*</label>
            <div class="col-sm-10">
                <input type="text" required="required" name="data[name]" value="" class="form-control" id="inputName" placeholder="Name der Filteroption">
            </div>
        </div>
        <div>
            <input type="submit" value="Änderungen speichern" class="btn btn-primary" />
            <a href="<?= $this->url('administration/taggroups/tags', ['tagGroupId' => $tagGroup->getId()], [], true); ?>" class="btn btn-outline-danger">Abbrechen</a>
        </div>
    </form>
</main>