.container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1280px !important;
}
div.card-body p.card-icons i {
    font-size: 2em;
    padding-right: 0.5em;
}
.search-results {
    margin-top: 20px;
}
.navbar {
    background-color: #0061A5;
}
div.card-subtitle {
    padding: 0.50rem 1.0rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
}
div.card div.card-body.map {
    margin: 0;
    padding: 0;
}
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
.tab-pane.active {
    padding: 20px;
}
label.filter-label {
    font-size: 12px;
    line-height: 1.5;
    cursor: pointer;
}
div.card.filtercard div.card-body {
    padding: 0.5rem 1.0rem;
}
