<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
        <h1 class="h2">Neuen Standort anlegen</h1>
    </div>

    <form method="post" action="" enctype="multipart/form-data">
        <div class="form-group row">
            <label for="inputName" class="col-sm-2 col-form-label">Name des Standortes*</label>
            <div class="col-sm-10">
                <input type="text" required="required" name="data[name]" value="" class="form-control" id="inputName" placeholder="Name des Standortes">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputKey" class="col-sm-2 col-form-label">Key*</label>
            <div class="col-sm-10">
                <input type="text" required="required" name="data[key]" value="" class="form-control" id="inputKey" placeholder="Key">
            </div>
        </div>
        <div>
            <input type="submit" value="Standort speichern" class="btn btn-primary" />
            <a href="<?= $this->url('administration/clients', [], [], true); ?>" class="btn btn-outline-danger">Abbrechen</a>
        </div>
    </form>
</main>