<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
        <h1 class="h2">Standorte</h1>
        <div class="float-right">
            <a class="btn btn-primary" href="<?= $this->url('administration/clients/add', [], null, true); ?>">
                <i class="fa fa-plus-circle"></i> Standort anlegen
            </a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-lg table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Key</th>
            </tr>
            </thead>
            <tbody>
            <?php if ($this->clients): ?>
                <?php foreach ($this->clients as $client): ?>
                    <tr>
                        <td><?= $client->getId(); ?></td>
                        <td><?= $client->getName(); ?></td>
                        <td><?= $client->getClientKey(); ?></td>
                    </tr>
                <?php endforeach; ?>
            <?php else: ?>
                <tr>
                    <td colspan="5" class="text-center">Es wurden noch keine Standorte angelegt. Du kannst jetzt einen neuen <a href="<?= $this->url('administration/facilities/add', [], null, true); ?>"> Standort anlegen</a>.</td>
                </tr>
            <?php endif; ?>
            </tbody>
        </table>
    </div>
</main>