<?php
    use Application\Model\OpeningTimes\OpeningTimesCollection;
    use Storage\Entity\Facility;
    use Storage\Entity\OpeningTime;

    /** @var Facility $facility */
    $this->headTitle($facility->getName());
?>
<div class="container">
    <div class="row search-results">
        <div class="col-12">
            <h2><?= $facility->getName(); ?> <a href="<?= $this->url('search', [], [], true); ?>" class="btn btn-outline-secondary float-right">Zurück</a></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted"><?= $facility->getAddressAsString(); ?></h6>
                    <?php
                        $openingTimes = $facility->getOpeningTimes();
                        $openingStatus = $openingTimes->getOpeningStatus();
                        $badgeStatus = $openingTimes->closesSoon() ? 'warning' : ($openingTimes->isCurrentlyOpen() ? 'success' : 'danger');
                    ?>
                    <span class="badge badge-<?= $badgeStatus; ?>"><?= OpeningTimesCollection::translateOpenningStatus($openingStatus); ?></span>
                    <p>
                        <?php if ($facility->hasPhoneNumber()) { ?>
                            <i class="fas fa-phone"></i> <?= $facility->getPhoneNumber(); ?>&nbsp;
                        <?php } ?>
                        <?php if ($facility->hasMobileNumber()) { ?>
                            <i class="fas fa-mobile"></i> <?= $facility->getMobileNumber(); ?>&nbsp;
                        <?php } ?>
                        <?php if ($facility->hasFaxNumber()) { ?>
                            <i class="fas fa-fax"></i> <?= $facility->getFaxNumber(); ?>&nbsp;
                        <?php } ?>
                        <?php if ($facility->hasWebsite()) { ?>
                            <i class="fas fa-globe-europe"></i> <a href="<?= $facility->getWebsite(true); ?>">Zur Webseite</a>
                        <?php } ?>
                    </p>
                    <p class="card-text">
                        <div class="row">
                            <div class="col-<?= (!$facility->getContacts()->isEmpty() || !$facility->getOpeningTimes()->isEmpty()) ? '7' : '12'; ?>" style="text-align: justify;">
                                <?= $facility->getDescription(); ?>
                            </div>
                            <div class="col-5">
                                <?php if (!$facility->getOpeningTimes()->isEmpty()) { ?>
                                <strong>Öffnungszeiten</strong><br />
                                <table class="table-borderless">
                                <?php
                                    /** @var OpeningTime $openingTime */
                                    foreach ($facility->getOpeningTimes()->filterByPeriod(OpeningTimesCollection::PERIOD_AM) as $openingTime) { ?>
                                        <tr>
                                            <td><?= OpeningTimesCollection::translateDayOfWeek($openingTime->getDayOfWeek()); ?>&nbsp;&nbsp;</td>
                                            <td><?= $openingTime->getStartTime()->format('H:i'); ?>-<?= $openingTime->getEndTime()->format('H:i') . ' Uhr'; ?>
                                            <?php
                                                /** @var OpeningTimesCollection $openingTimesPM */
                                                $openingTimePM = $facility->getOpeningTimes()->findByDayOfWeekAndPeriod($openingTime->getDayOfWeek(), OpeningTimesCollection::PERIOD_PM);
                                                if ($openingTimePM) {
                                            ?>
                                            und <?= $openingTimePM->getStartTime()->format('H:i'); ?>-<?= $openingTimePM->getEndTime()->format('H:i') . ' Uhr'; ?>
                                            <?php } ?>
                                            </td>
                                        </tr>
                                    <?php } ?>
                                <?php } ?>
                                </table>
                                <br />
                                <?php if (!$facility->getContacts()->isEmpty()) { ?>
                                    <?php foreach ($facility->getContacts() as $contact) { ?>
                                        <strong><?= $contact->getFirstname(); ?> <?= $contact->getLastname(); ?></strong><br />
                                        <?= $contact->getPosition(); ?><br />
                                        <?php if ($contact->hasPhonenumber()) { ?>
                                            <i class="fa fa-phone"></i> <?= $contact->getPhonenumber(); ?><br />
                                        <?php } ?>
                                        <?php if ($contact->hasMobileNumber()) { ?>
                                            <i class="fas fa-mobile"></i> <?= $contact->getMobileNumber(); ?><br />
                                        <?php } ?>
                                        <?php if ($contact->hasFaxnumber()) { ?>
                                            <i class="fa fa-fax"></i> <?= $contact->getFaxnumber(); ?><br />
                                        <?php } ?>
                                        <?php if ($contact->hasEmail()) { ?>
                                            <i class="fa fa-envelope"></i> <a href="mailto:<?= $contact->getEmail(); ?>"><?= $contact->getEmail(); ?></a><br />
                                        <?php } ?>
                                        <br />
                                    <?php } ?>
                                <?php } ?>
                            </div>
                        </div>
                    </p>
                    <p>
                        <?php foreach ($facility->getTags() as $tag) { ?>
                            <span class="badge badge-secondary"><?= $tag->getName(); ?></span>
                        <?php } ?>
                    </p>
                    <div>
                        <iframe src="https://maps.google.com/maps?q=Bahnhofsmission%20Essen&t=&z=15&ie=UTF8&iwloc=&output=embed" style="border:0; width:100%; height: 600px;" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <br />
        </div>
    </div>
</div>
