<?php
use Storage\Entity\Facility;
/** @var Facility $facility */

$this->headTitle('Kartenansicht');
?>


<script>
    var map;
    var layer_mapnik;
    var layer_tah;
    var layer_markers;

    function initMap() {
        var lon = 7.0174;
        var lat = 51.4515;
        var zoom = 13;

        map = new OpenLayers.Map("map");
        map.addLayer(new OpenLayers.Layer.OSM());

        var lonLat = new OpenLayers.LonLat(lon, lat)
            .transform(
                new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                map.getProjectionObject() // to Spherical Mercator Projection
            );

        var markers = new OpenLayers.Layer.Markers("Markers");
        map.addLayer(markers);

        markers.addMarker(new OpenLayers.Marker(lonLat), 'test');

        map.setCenter(lonLat, zoom);
    }

    $.when( $.ready ).then(function() {
        initMap();
    });
</script>

<div class="container-fluid vh-100">
    <div id="map" style="width:100%; height: 100%;"></div>
</div>
