<?php
    /** @var SearchResultCollection $searchResults */
    /** @var TagGroup[] $tagGroups */
    /** @var array $filter */
    use Application\Model\OpeningTimes\OpeningTimesCollection;
    use Application\Model\SearchResult\SearchResultCollection;
    use Storage\Entity\TagGroup;
?>
<div class="container">
    <div class="row search-results">
        <div class="col-12">
            <h2><?= $searchResults->count(); ?> Einrichtung<?php if($searchResults->count() <> 1) { ?>en<?php } ?></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <?= $this->partial('partials/filters', [
                'tagGroups' => $tagGroups,
                'filter' => $filter,
            ]); ?>
        </div>
        <div class="col-9">
            <?php foreach($searchResults as $facility) { ?>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <?php
                                $openingTimes = $facility->getOpeningTimes();
                                $openingStatus = $openingTimes->getOpeningStatus();
                                $badgeStatus = $openingTimes->closesSoon() ? 'warning' : ($openingTimes->isCurrentlyOpen() ? 'success' : 'danger');
                            ?>
                            <span class="badge badge-<?= $badgeStatus; ?>"><?= OpeningTimesCollection::translateOpenningStatus($openingStatus); ?></span>
                            <a href="<?= $this->url('search/details', ['id' => $facility->getId()], [], true); ?>"><?= $facility->getName(); ?></a>
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted"><?= $facility->getAddressAsString(); ?></h6>
                        <p>
                            <?php if ($facility->hasPhoneNumber()) { ?>
                                <i class="fas fa-phone"></i> <?= $facility->getPhoneNumber(); ?>&nbsp;
                            <?php } ?>
                            <?php if ($facility->hasMobileNumber()) { ?>
                                <i class="fas fa-mobile"></i> <?= $facility->getMobileNumber(); ?>&nbsp;
                            <?php } ?>
                            <?php if ($facility->hasFaxNumber()) { ?>
                                <i class="fas fa-fax"></i> <?= $facility->getFaxNumber(); ?>&nbsp;
                            <?php } ?>
                            <?php if ($facility->hasWebsite()) { ?>
                                <i class="fas fa-globe-europe"></i> <a target="_blank" href="<?= $facility->getWebsite(true); ?>">Zur Webseite</a>
                            <?php } ?>
                        </p>
                        <?php if ($facility->hasDescription()) { ?>
                        <p class="card-text">
                            <?= sprintf('%s ...', mb_substr($facility->getDescription(true), 0, 200)); ?>
                        </p>
                        <?php } ?>
                        <p>
                            <?php foreach ($facility->getTags() as $tag) { ?>
                                <span class="badge badge-secondary"><?= $tag->getName(); ?></span>
                            <?php } ?>
                        </p>
                    </div>
                </div>
                <br />
            <?php } ?>
            <br />
        </div>
    </div>
</div>
