<?php
/** @var Contact $contact */
/** @var Facility $facility */
use Storage\Entity\Contact;
use Storage\Entity\Facility;
?>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
        <h1 class="h2">Passwort ändern</h1>
    </div>
    <?php if ($this->successMessage): ?>
    <div class="alert alert-success" role="alert">
        <?= $this->successMessage; ?>
    </div>
    <?php endif; ?>
    <form method="post" action="" enctype="multipart/form-data">
        <div class="form-group row">
            <label for="inputEmail" class="col-sm-2 col-form-label">Benutzerrolle</label>
            <div class="col-sm-10">
                <input type="text" disabled="disabled" value="<?= $this->identity->getRole()->getName(); ?>" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputEmail" class="col-sm-2 col-form-label">Standort</label>
            <div class="col-sm-10">
                <input type="text" disabled="disabled" value="<?= $this->identity->getClient()->getName(); ?>" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputEmail" class="col-sm-2 col-form-label">E-Mail-Adresse</label>
            <div class="col-sm-10">
                <input type="text" disabled="disabled" name="data[email]" value="<?= $this->identity->getEmail(); ?>" class="form-control" id="inputEmail" placeholder="E-Mail-Adresse">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Passwort*</label>
            <div class="col-sm-10">
                <input type="password" name="data[password]" required="required" value="" class="form-control" id="inputPassword" placeholder="Passwort">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPasswordRep" class="col-sm-2 col-form-label">Passwort wiederholen*</label>
            <div class="col-sm-10">
                <input type="password" name="data[passwordrep]" required="required" value="" class="form-control" id="inputPasswordRep" placeholder="Passwortwiederholung">
            </div>
        </div>
        <div>
            <input type="submit" value="Änderungen speichern" class="btn btn-primary" />
            <a href="<?= $this->url('administration', [], [], true); ?>" class="btn btn-outline-danger">Abbrechen</a>
        </div>
    </form>
</main>