<div class="sidebar content-box" style="display: block;">
    <ul class="nav">
        <li class="current submenu open">
            <a href="<?= $this->url('administration'); ?>"><i class="glyphicon glyphicon-list"></i> Stammdaten
                <span class="caret pull-right"></span>
            </a>
            <!-- Sub menu -->
            <ul style="display: block;">
                <li><a href="<?= $this->url('administration'); ?>">Kundendaten</a></li>
                <li><a href="<?= $this->url('administration'); ?>">Kundengruppen</a></li>
                <li><a href="<?= $this->url('administration'); ?>">Datenprüfung</a></li>
            </ul>
        </li>
        <li class="current"></li>
        <li class="current submenu open">
            <a href="<?= $this->url('administration'); ?>"><i class="glyphicon glyphicon-envelope"></i> Nachrichten
                <span class="caret pull-right"></span>
            </a>
            <!-- Sub menu -->
            <ul style="display: block;">
                <li><a href="<?= $this->url('administration'); ?>">Nachricht schreiben</a></li>
                <li><a href="<?= $this->url('administration'); ?>">Empfängerlisten verwalten</a></li>
            </ul>
        </li>
    </ul>
</div>
